/* css for login and registration forms */

.login-form {
  background: url(/assets/Login.jpg);
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 2px;
}
.login-page {
  width: 500px;
  height: 550px;
  background-color: #95e4ee;
  padding: 75px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
@media (max-width: 600px) {
  .login-page {
    width: 90%;
    padding: 30px;
    height: auto;
  }
}


/* navbar */
.main-navbar {
  background-color: #4e2c70;
}

/* banner */
.banner {
  position: relative;
}
.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#banner-title {
  color: white;
}

/* footer  */
.footer-div{
  background-color: black;
  color: white;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
